section.highlights div.item-content div.item-content-description a p.description {
    font-size: 1.2rem;
}

div.carousel-inner div.carousel-item div.carousel-caption h5 {
    font-size: 1rem;
}
div.carousel-inner div.carousel-item div.carousel-caption p {
    font-size: 1rem;
}